
:host {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  max-height: 250px;
}

.mat-form-field {

  width: 100%;
  min-width: 200px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: flex-end;
}
