<h1 mat-dialog-title>{{ title | translate }}</h1>

<mat-dialog-content>
  {{message|translate}}
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="close(false)"
          [disabled]="loading$ | async">{{ 'CANCEL.TITLE' | translate }}
    <i *ngIf="loading$ | async" class="fa fa-spinner fa-spin"></i>
  </button>
  <button mat-raised-button color="accent" (click)="close(true)" [disabled]="loading$ | async">Ok
    <i *ngIf="loading$ | async" class="fa fa-spinner fa-spin"></i>
  </button>
</mat-dialog-actions>
