<form class="header" [formGroup]="placeFilter">
  <h1 class="mat-display-2" i18n="@@place.title">Find a place</h1>
  <mat-form-field>
    <mat-label  i18n="@@place.type.label">Place type</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="undefined"></mat-option>
      <mat-option [value]="PlaceType.bar">{{ PlaceType.bar }}</mat-option>
      <mat-option [value]="PlaceType.restaurant">{{ PlaceType.restaurant }}</mat-option>
      <mat-option [value]="PlaceType.brewery">{{ PlaceType.brewery }}</mat-option>
      <mat-option [value]="PlaceType.shop">{{ PlaceType.shop }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label  i18n="@@place.city.label">City</mat-label>
    <mat-select formControlName="cityId">
      <mat-option [value]="undefined"></mat-option>
      <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<app-place-list [places]="places"></app-place-list>
