<h1 *ngIf="!data" mat-dialog-title>{{ 'BEERS.CREATE' | translate }}</h1>
<h1 *ngIf="data" mat-dialog-title>{{ 'BEERS.UPDATE' | translate }}</h1>

<mat-dialog-content>
  <form autocomplete="off" [formGroup]="beerFrom">
    <div class="example-container">
      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="nameField.hasError('required')">This field is required</mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>ABV</mat-label>
        <input matInput formControlName="abv" type="number">
        <mat-error *ngIf="abvField.hasError('required')">This field is required</mat-error>
      </mat-form-field>
    </div>

    <div class="example-container">

      <mat-form-field appearance="fill">
        <mat-label>Beer Type</mat-label>
        <mat-select [formControl]="beerTypeField" [(value)]="beerTypeName">
          <mat-option [value]="beerType.name" *ngFor="let beerType of beerTypes">
            {{beerType.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="beerTypeField.hasError('required')">Please choose a beer type</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Beer Places</mat-label>
        <mat-select formControlName="beerPlace" multiple>
          <mat-option *ngFor="let place of places" [value]="place.name">{{place.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="beerPlaceField.hasError('required')">Please choose a beer place</mat-error>
      </mat-form-field>

    </div>

    <div class="example-container">
      <mat-form-field class="example-full-width" appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>French Description</mat-label>
        <textarea #descFR matInput placeholder="Ex. It makes me feel..." formControlName="descFR"></textarea>
        <mat-hint align="end">{{descFR.value.length}} / 512</mat-hint>
        <mat-error *ngIf="descFRField.hasError('required')">This field is required</mat-error>
      </mat-form-field>

    </div>

    <div class="example-container">
      <mat-form-field class="example-full-width" appearance="fill" [floatLabel]="floatLabelControl.value">
        <mat-label>English Description</mat-label>
        <textarea #descEN matInput placeholder="Ex. It makes me feel..." formControlName="descEN"></textarea>
        <mat-hint align="end">{{descEN.value.length}} / 512</mat-hint>
        <mat-error *ngIf="descENField.hasError('required')">This field is required</mat-error>
      </mat-form-field>

    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()" [disabled]="loading$ | async">{{ 'CANCEL.TITLE' | translate }}
    <i *ngIf="loading$ | async" class="fa fa-spinner fa-spin"></i>
  </button>
  <button mat-raised-button color="accent" (click)="submitBeerForm(beerFrom)" [disabled]="(loading$ | async) || beerFrom.invalid">Ok
    <i *ngIf="loading$ | async" class="fa fa-spinner fa-spin"></i>
  </button>
</mat-dialog-actions>
