<form class="header" [formGroup]="beerFilter">
  <h1 class="mat-display-2" i18n="@@beer.title">Find your beer</h1>
  <mat-form-field>
    <mat-label i18n="@@beer.type.label">Beer type</mat-label>
    <mat-select formControlName="typeId">
      <mat-option [value]="undefined"></mat-option>
      <mat-option *ngFor="let beerType of beerTypes" [value]="beerType.id">{{ beerType.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label i18n="@@beer.abv.label">ABV</mat-label>
    <input matInput type="number" min="0" max="12" formControlName="abv">
  </mat-form-field>
</form>
<app-beer-list [beers]="beers"></app-beer-list>
